.btn-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.price-profit {
    color: lightgreen;
}
.price-loss {
    color: tomato;
}