.App {
  text-align: center;
  background-color: #3c4658;
  color: #cccccc
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.coin-table {
  margin: 50px auto 50px auto;
  display: inline-block;
  font-size: 1.75rem;
}

tr td {
  width: 100%;
  white-space: nowrap;
}

.status-bar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  align-items: left;
}

.button-toolbar-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.status-bar-message {
  font-style: italic;
  margin-left: 5px;
}

.td-action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}

.display-flex {
  /* make all elements the same width */
  display: flex;
  flex-direction: column;
}

.wrap-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.nowrap-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.right-margin {
  margin-right: 5px;
}

.right-left-margin {
  margin-right: 5px;
  margin-left: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
